.container1{
    width:100%;
    height:1000px;
    background-color: coral;
    display:flex; 
    flex-direction:row; 
    flex-wrap:wrap;
    justify-content:space-between;
    overflow:scroll;
   
   
}
.box1{
    width:400px;
    height:400px;
    background-color: greenyellow;
    margin:10px;
}